In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np

In [4]:
import seaborn as sns

In [5]:
ls

Pandas_project_2_code.ipynb  data/
README.md                    sharks_clean.csv
Untitled.ipynb

In [6]:
df = pd.read_csv('data/GSAF5.csv', encoding = "ISO-8859-1")

# Exploring the data

In [7]:
df.head(5)

# What we can see at the beggining is:
# Years: some years are 0
# Species: some NaN values
#'Case number','Case Number.1' and 'Case Number.2' seem duplicates
# Original order shows the opposite order vs. the index of the row
# Unnamed: 22 and Unnamed 23 show all NaN values and seem irrelevant

# Some NaN values in most of the columns
# Some columns are hidden, cannot see on display

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [8]:
df.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [9]:
df.shape

(5992, 24)

In [10]:
df.describe()

# Doesn't tell anything

              Year  original order
count  5992.000000     5992.000000
mean   1925.204606     2997.548899
std     286.473712     1729.860210
min       0.000000        2.000000
25%    1942.000000     1499.750000
50%    1975.000000     2997.500000
75%    2003.000000     4495.250000
max    2016.000000     5993.000000

In [11]:
df.info()
# I want to see all the name of all the columns that are not shown in display, I could also use columns but with
# info I simply get more information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

### Revisamos valores nulos

In [12]:
df.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

# Let's start cleaning data

### I will first remove the 'Case Number.2' column if it's a duplicate from 'Case Number.1'

In [13]:
df["exists"] = df.drop("Case Number.2", 1).isin(df["Case Number.2"]).any(1)
# Drop the Case number column to have a dataframe without this column and with isin test if the value of Case Number.2
# exists in this new dataframe
# We can see that the data is true for all columns meaning that even though we drop the column Case.Number.2
# when we inspect the df, we find the same values, meaning that they are repeated

df.groupby('exists').size()

#Case Number.2 repeats for all values of Case Number1

<ipython-input-13-b199de984e74>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df["exists"] = df.drop("Case Number.2", 1).isin(df["Case Number.2"]).any(1)

exists
True    5992
dtype: int64

In [14]:
# Let's drop 'Case Number.2' that we proved irrelevant and the new column 'exists' that we created to check if the value was repeated
df = df.drop(['exists','Case Number.2'], axis=1)

In [15]:
# I suspect that 'Unnamed 22 and Unnamed 23 are also irrelevant but they have 1 row that is not null,
# I want to see what they contain
df[df['Unnamed: 22'].notnull()]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,original order,Unnamed: 22,Unnamed: 23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,09h00,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,4746,stopped here,NaN

In [16]:
df[df['Unnamed: 23'].notnull()]

## From what I can see they do not contain any relevant information therefore I'm deleting them

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,original order,Unnamed: 22,Unnamed: 23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,408,NaN,change filename

In [17]:
# I'm dropping 'Unnamed: 22' and 'Unnamed: 23' columns because they are useless
df = df.drop(['Unnamed: 22','Unnamed: 23'], axis=1)

In [18]:
# I inspect the 'Time' column to see what's on it but I will keep it
df['Time']

0       13h00
1       11h00
2       10h43
3         NaN
4         NaN
        ...
5987      NaN
5988      NaN
5989      NaN
5990      NaN
5991      NaN
Name: Time, Length: 5992, dtype: object

In [19]:
# I'm printing the df to see the full detail of the df 
print(df.head())

    Case Number       Date  Year        Type    Country      Area  \
0  2016.09.18.c  18-Sep-16  2016  Unprovoked        USA   Florida
1  2016.09.18.b  18-Sep-16  2016  Unprovoked        USA   Florida
2  2016.09.18.a  18-Sep-16  2016  Unprovoked        USA   Florida
3    2016.09.17  17-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria
4    2016.09.15  16-Sep-16  2016  Unprovoked  AUSTRALIA  Victoria

                           Location Activity             Name Sex   ...  \
0  New Smyrna Beach, Volusia County  Surfing             male    M  ...
1  New Smyrna Beach, Volusia County  Surfing   Chucky Luciano    M  ...
2  New Smyrna Beach, Volusia County  Surfing             male    M  ...
3                  Thirteenth Beach  Surfing  Rory Angiolella    M  ...
4                       Bells Beach  Surfing             male    M  ...

                                  Injury Fatal (Y/N)   Time   Species   \
0                  Minor injury to thigh           N  13h00        NaN
1                   Lacerations to hands           N  11h00        NaN
2               Lacerations to lower leg           N  10h43        NaN
3           Struck by fin on chest & leg           N    NaN        NaN
4  No injury: Knocked off board by shark           N    NaN  2 m shark

        Investigator or Source                        pdf  \
0  Orlando Sentinel, 9/19/2016       2016.09.18.c-NSB.pdf
1  Orlando Sentinel, 9/19/2016   2016.09.18.b-Luciano.pdf
2  Orlando Sentinel, 9/19/2016       2016.09.18.a-NSB.pdf
3           The Age, 9/18/2016  2016.09.17-Angiolella.pdf
4           The Age, 9/16/2016  2016.09.16-BellsBeach.pdf

                                        href formula  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...
1  http://sharkattackfile.net/spreadsheets/pdf_di...
2  http://sharkattackfile.net/spreadsheets/pdf_di...
3  http://sharkattackfile.net/spreadsheets/pdf_di...
4  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                href Case Number.1  \
0  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.c
1  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.b
2  http://sharkattackfile.net/spreadsheets/pdf_di...  2016.09.18.a
3  http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.17
4  http://sharkattackfile.net/spreadsheets/pdf_di...    2016.09.16

  original order
0           5993
1           5992
2           5991
3           5990
4           5989

[5 rows x 21 columns]

In [20]:
# I'm going to remove the columns that don't give me any relevant information
df = df.drop(['Investigator or Source','pdf', 'href formula', 'href', 'Case Number.1', 'original order', 'Case Number'], axis=1)

In [21]:
df

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN
5988,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
5989,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
5990,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN

## Now our df is more clean

In [22]:
## Let's get some insights
df['Country'].value_counts()

# USA is the country with the most attacks
#There are many countries, some with little attacks, we should try to merge those small countries

USA                           2116
AUSTRALIA                     1279
SOUTH AFRICA                   565
PAPUA NEW GUINEA               133
NEW ZEALAND                    125
                              ...
NORTH ATLANTIC OCEAN             1
MAYOTTE                          1
GABON                            1
ANDAMAN / NICOBAR ISLANDAS       1
CEYLON (SRI LANKA)               1
Name: Country, Length: 203, dtype: int64

In [23]:
set(df['Country'])
# There are too many countries

{' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANGOLA',
 'ANTIGUA',
 'ARGENTINA',
 'ARUBA',
 'ASIA?',
 'ATLANTIC OCEAN',
 'AUSTRALIA',
 'AZORES',
 'BAHAMAS',
 'BAHREIN',
 'BANGLADESH',
 'BARBADOS',
 'BAY OF BENGAL',
 'BELIZE',
 'BERMUDA',
 'BRAZIL',
 'BRITISH ISLES',
 'BRITISH NEW GUINEA',
 'BRITISH VIRGIN ISLANDS',
 'BRITISH WEST INDIES',
 'BURMA',
 'Between PORTUGAL & INDIA',
 'CANADA',
 'CAPE VERDE',
 'CARIBBEAN SEA',
 'CAYMAN ISLANDS',
 'CENTRAL PACIFIC',
 'CEYLON (SRI LANKA)',
 'CHILE',
 'CHINA',
 'COLUMBIA',
 'COOK ISLANDS',
 'COSTA RICA',
 'CRETE',
 'CROATIA',
 'CUBA',
 'CURACAO',
 'CYPRUS',
 'Coast of AFRICA',
 'DIEGO GARCIA',
 'DJIBOUTI',
 'DOMINICAN REPUBLIC',
 'ECUADOR',
 'EGYPT',
 'EGYPT ',
 'EGYPT / ISRAEL',
 'EL SALVADOR',
 'ENGLAND',
 'EQUATORIAL GUINEA / CAMEROON',
 'FALKLAND ISLANDS',
 'FEDERATED STATES OF MICRONESIA',
 'FIJI',
 'FRANCE',
 'FRENCH POLYNESIA',
 'Fiji',
 'GABON',
 'GEORGIA',
 'GHANA',
 'GRAND CAYMAN',
 'GREECE',
 'GREENLAND',
 'GRENADA',
 'GUAM',
 'GUATEMALA',
 'GUINEA',
 'GULF OF ADEN',
 'GUYANA',
 'HAITI',
 'HONDURAS',
 'HONG KONG',
 'ICELAND',
 'INDIA',
 'INDIAN OCEAN',
 'INDIAN OCEAN?',
 'INDONESIA',
 'IRAN',
 'IRAN / IRAQ',
 'IRAQ',
 'IRELAND',
 'ISRAEL',
 'ITALY',
 'ITALY / CROATIA',
 'JAMAICA',
 'JAPAN',
 'JAVA',
 'JOHNSTON ISLAND',
 'KENYA',
 'KIRIBATI',
 'KOREA',
 'KUWAIT',
 'LEBANON',
 'LIBERIA',
 'LIBYA',
 'MADAGASCAR',
 'MALAYSIA',
 'MALDIVE ISLANDS',
 'MALTA',
 'MARSHALL ISLANDS',
 'MARTINIQUE',
 'MAURITIUS',
 'MAYOTTE',
 'MEDITERRANEAN SEA',
 'MEDITERRANEAN SEA?',
 'MEXICO',
 'MEXICO ',
 'MICRONESIA',
 'MID ATLANTIC OCEAN',
 'MID-PACIFC OCEAN',
 'MONACO',
 'MONTENEGRO',
 'MOZAMBIQUE',
 'NAMIBIA',
 'NETHERLANDS ANTILLES',
 'NEVIS',
 'NEW BRITAIN',
 'NEW CALEDONIA',
 'NEW GUINEA',
 'NEW ZEALAND',
 'NICARAGUA',
 'NICARAGUA ',
 'NIGERIA',
 'NORTH ATLANTIC OCEAN',
 'NORTH ATLANTIC OCEAN ',
 'NORTH PACIFIC OCEAN',
 'NORTH SEA',
 'NORTHERN ARABIAN SEA',
 'NORTHERN MARIANA ISLANDS',
 'NORWAY',
 'OCEAN',
 'OKINAWA',
 'PACIFIC OCEAN',
 'PACIFIC OCEAN ',
 'PALAU',
 'PALESTINIAN TERRITORIES',
 'PANAMA',
 'PAPUA NEW GUINEA',
 'PARAGUAY',
 'PERSIAN GULF',
 'PHILIPPINES',
 'PORTUGAL',
 'PUERTO RICO',
 'RED SEA',
 'RED SEA / INDIAN OCEAN',
 'RED SEA?',
 'REUNION',
 'RUSSIA',
 'SAMOA',
 'SAN DOMINGO',
 'SAUDI ARABIA',
 'SCOTLAND',
 'SENEGAL',
 'SEYCHELLES',
 'SIERRA LEONE',
 'SINGAPORE',
 'SLOVENIA',
 'SOLOMON ISLANDS',
 'SOLOMON ISLANDS / VANUATU',
 'SOMALIA',
 'SOUTH AFRICA',
 'SOUTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'SOUTH KOREA',
 'SOUTH PACIFIC OCEAN',
 'SOUTHWEST PACIFIC OCEAN',
 'SPAIN',
 'SRI LANKA',
 'ST. MAARTIN',
 'ST. MARTIN',
 'SUDAN',
 'SUDAN?',
 'SWEDEN',
 'SYRIA',
 'Seychelles',
 'Sierra Leone',
 'St Helena',
 'TAIWAN',
 'TANZANIA',
 'TASMAN SEA',
 'THAILAND',
 'THE BALKANS',
 'TONGA',
 'TRINIDAD & TOBAGO',
 'TUNISIA',
 'TURKEY',
 'TURKS & CAICOS',
 'TUVALU',
 'UNITED ARAB EMIRATES',
 'UNITED ARAB EMIRATES (UAE)',
 'UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN ',
 nan}

In [24]:
# I am grouping together in an "Other" category the countries that are present in less than 1.5% of the total count
threshold_percent = 1.5

series = pd.value_counts(df['Country'])
mask = (series / series.sum() * 100).lt(threshold_percent)
df = df.assign(country_grouped = np.where(df['Country'].isin(series[mask].index),'Other', df['Country']))

In [25]:
df.country_grouped.value_counts()

USA                 2116
Other               1531
AUSTRALIA           1279
SOUTH AFRICA         565
PAPUA NEW GUINEA     133
NEW ZEALAND          125
BRAZIL               102
BAHAMAS               98
Name: country_grouped, dtype: int64

In [26]:
# I want to see how many of the attacks are fatal
df['Fatal (Y/N)'].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
F             1
N             1
#VALUE!       1
n             1
Name: Fatal (Y/N), dtype: int64

In [27]:
# We need to do some cleaning and combine the ocurrences where N has spaces or is in lowercase

In [28]:
df['Fatal (Y/N)'].replace(" N", "N", inplace=True, )
df['Fatal (Y/N)'].replace("  N", "N", inplace=True, )
df['Fatal (Y/N)'].replace("n", "N", inplace=True, )
df['Fatal (Y/N)'].replace("N ", "N", inplace=True, )

df['Fatal (Y/N)'].value_counts()

N          4325
Y          1552
UNKNOWN      94
F             1
#VALUE!       1
Name: Fatal (Y/N), dtype: int64

In [29]:
# I'm droping the rows where we don't have any info on Fatal(Y/N), null values
df.drop(df[df['Fatal (Y/N)'] == 'UNKNOWN'].index, inplace=True)
df.drop(df[df['Fatal (Y/N)'] == 'F'].index, inplace=True)
df.drop(df[df['Fatal (Y/N)'] == '#VALUE!'].index, inplace=True)

In [30]:
df['Fatal (Y/N)'].value_counts()

N    4325
Y    1552
Name: Fatal (Y/N), dtype: int64

In [31]:
# Let's look into activity

In [32]:
set(df['Activity'])

# It's too many different activities, I'm not getting any information out of it so I'm dropping the whole column

df = df.drop(['Activity'], axis=1)

In [33]:
# Let's look into Sex

In [34]:
df

,Date,Year,Type,Country,Area,Location,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,country_grouped
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,Minor injury to thigh,N,13h00,NaN,USA
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,USA
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,Lacerations to lower leg,N,10h43,NaN,USA
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,AUSTRALIA
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,AUSTRALIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,male,M,NaN,FATAL,Y,NaN,NaN,AUSTRALIA
5988,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Ahmun,M,NaN,FATAL,Y,NaN,NaN,AUSTRALIA
5989,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,USA
5990,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,Other
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,Other

In [35]:
df['Sex']
# I cannot access the Sex column, it's because the index of the column has a space after Sex

KeyError: 'Sex'

In [36]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Name', 'Sex ',
       'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'country_grouped'],
      dtype='object')

In [37]:
df = df.rename(columns={'Sex ': 'Sex'})

In [38]:
df['Sex'].value_counts()

M      4786
F       580
M         2
lli       1
N         1
.         1
Name: Sex, dtype: int64

In [39]:
# I'm replacing M(space) and N values as they are a typo, the rest I'm dropping them
df['Sex'].replace("M ", "M", inplace=True, )
df['Sex'].replace("N", "M", inplace=True, )

df.drop(df[df['Sex'] == 'lli'].index, inplace=True)
df.drop(df[df['Sex'] == '.'].index, inplace=True)

df['Sex'].value_counts(normalize = True)*100

# 90% of attacks are suffered by males

M    89.197243
F    10.802757
Name: Sex, dtype: float64

In [40]:
# Let's look into Species, this column has the same problem as Sex in the column index, but
# I'm probably going to delete the column therefore I'm not even going to change the column name
# I see that there are way too many different typs of information, which makes it really hard to group together
# same types of sharks
set(df['Species '])

{nan,
 "White shark, 3.5 m to 4 m [11.5' to 13'] ",
 'Starry smoothhound shark, 1m',
 ' Tawney nurse shark, 1m',
 "8' shark",
 'Oceanic whitetip shar,; identified by Dr. W.C. Schoeder on photograph & Dr. L.P. L. Schultz on sketch by observer',
 "1.5 m to 1.8 m [5' to 6']  blacktip shark",
 'Doubtful / Unconfirmed attack / Unable to verify in local records',
 "White shark, 2.7 m [9'] ",
 'A "small shark"',
 "Blacktip shark, 2' ",
 'Believed to involve a 2.8 m [9\'3"] white shark',
 'Blacktip shark pup',
 '1 m "grey-colored" shark',
 " Sandbar shark, 3' to 4'",
 '4.5 m & 5 m white shark ',
 'Tiger shark, 4.8 m',
 '4.5 m [14\'9"] white shark',
 'said to involve 2.5 m hammerhead sharks',
 "Bull shark, 4' to 5' ",
 '2 sharks',
 'White shark, 2m to 3 m',
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 "6 m [20']  shark",
 '1.8 m shark',
 "Bronze whaler shark,3.7 m [12'] ",
 "Grey reef shark, 1.2 m [4'] ",
 "White shark, 3.7 m [12']  according to witnesses",
 "4.9 m [16']shark",
 "Raggedtooth shark, 2.5 m [8.25'] ",
 "Bronze whaler shark, 2.4 m [8'] ",
 "7 m [23'] white shark",
 "14' to 18'shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 'Wobbegong',
 "Dusky shark, 2.7 m [9'] dusky shark C. obscurus identified by S. Springer on tooth recovered",
 'Bull shark suspected due to freshwater habitat',
 'Tiger shark caught 6 days later with diver\x92s remains in its gut',
 'a school of sharks',
 "Spinner shark, 7'",
 "3 m [10'] shark seen in vicinity",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "Bull shark, 4 m [13'] ",
 '1.8 m silky shark',
 "White shark, 3.8 m [12.5']  ",
 "Bull shark, 6'",
 '4.5  m [14\'9"] shark',
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 "2.5 m [8.25'] white shark",
 'White shark, 6 m ',
 "Grey nurse shark, 8'",
 "Leopard shark, 3' Triakis semifasciata, identified by J.W. DeWitt (1955)",
 'Mako shark ',
 "1.8 m [6'], 136-kg [300-lb] shark ",
 'reef shark, 1m',
 'White shark (tooth fragment recovered)',
 'Bull shark, 2m',
 '2 small bull sharks',
 "White shark, 2.1 m [7'] ",
 "4.5 m to 5.5 m [15' to 18'] white shark",
 'Sandbar shark',
 'White shark, 5m to 6m',
 "White shark, 2.3 m [7.5'], tooth fragment recovered",
 "6' to 8' shark",
 '5 m white shark',
 'White shark, 3.9 m, 550 kg, male',
 "Caribbean reef shark, 7' to 8'",
 "1.2 m [4'] shark hindered recovery of body",
 "18' shark",
 '2.5 oceanic whitetip shark',
 "Blacktip or spinner shark, 4'",
 "White shark, 3 m [10']; identifed by Dr. W.I. Follett on tooth marks",
 "2.5' shark",
 "White shark, 4 m [13'] rk",
 "Tiger shark, 2.4 m [8'] ",
 "Carpet shark, 5' ",
 "Blue pointer, 11' ",
 "Grey reef shark, 2 m [6.75'] ",
 'Tiger shark, tooth fragment recovered',
 'Blue shark, 70-kg blue shark',
 '1.5 m copper shark',
 "6' to 8' bull shark",
 "White shark, 8' to 10'",
 "Tiger shark, less than 10'",
 '3 sharks',
 "12' white shark",
 "White shark, 16' ",
 'Shark involvement prior to death not confirmed',
 'Bronze whaler shark, 3 m',
 "Nurse shark, 2.1 m [7']",
 "3' to 3.5' shark",
 "1.2 m [4'] bull shark",
 "Sandtiger shark, 3 m [10'] ",
 "13' shark",
 'sand shark',
 "Mako shark, 4.3 m [14']",
 '2.8 m [9\'3"] white shark',
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 '4.5 m shark',
 'Sandtiger shark',
 '24" to 30" shark',
 '3\' "blue nosed" shark',
 'Spurdog',
 'small sharks',
 'Leopard shark',
 "Mako shark, 3 m [10'], 200-kg [441-lb] ",
 'Tiger shark, 3.5 m',
 "Bronze whaler shark, 4.6 m [15'] ",
 "1.5 m [5'] shark",
 "White shark, 5 m to 6 m [16.5' to 20'] ",
 '4 to 5m white shark',
 "Tiger shark, >3 m [10']",
 "Tiger shark, 3 to 4 m [10' to 13'] ",
 "White shark, 12' to 15' female",
 "Nurse shark, 10'",
 'A pack of 6 sharks',
 "Carpet shark, 1.5 m [5']",
 "Raggedtooth shark, 1.5 m [5'] ",
 "White shark, 3 m [10'] ",
 '"a little shark"',
 'Wobbegong shark, 1.6m',
 "1.4 m [4.5'] shark",
 'White shark or thresher shark',
 'Copper shark, 50-kg [110-b] ',
 'shark involvement not confirmed',
 ">6.7 m [22']  shark",
 "5' thresher or blue shark. The shark  was killed following the incident",
 "White shark, 4.3 m [14']",
 'Bull shark, 2.8 to 3.1 m',
 'Blacktip reef shark pup',
 "0.9 m to 1.2 m [3' to 4'] shark",
 "Thought to involve a 2.6 m [8.5'] white shark",
 'Raggedtooth shark, 2m',
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 "1.5 m [5'] dusky shark",
 '"grey shark"',
 "1.8 m to 2.4 m [6' to 8'] hammerhead shark",
 "2.7 m [9'] silky shark",
 'Mako shark, 3m',
 'A hammerhead shark, then 8 to 10 other sharks were said to be  involved',
 'nurse shark',
 "17' white shark",
 "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
 'Probable bluefish bite',
 'White shark, 4m to 5m ',
 "Mako shark, 1.8 m [6']",
 'Survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species',
 "2 m [6.75'] shark, 200-kg shark T",
 '"a black-tipped shark"',
 "Bronze whaler shark, 3.7 m [12'] identified by G.P. Whitley based on description",
 "16' shark",
 "1.2 m to 1.8 m [4' to 6'] shark observed in area",
 'White shark, 1,900-lb ',
 "Sevengill shark, 14', was caught in the vicinity",
 'Zambesi shark, 2 m [6\'9"] ',
 'Bull shark, 3m',
 "Remains recovered from 5.5 m [18'] white shark",
 "Oceanic whitetip shark'",
 "1.8 m [6'] sandtiger shark",
 "Mako shark, 1.9 m [6.5']. Tooth fragment recovered & identified by J.T. Nichols.",
 "Carpet shark, 10' ",
 'White shark, 3m',
 '"a school of sharks"',
 "White shark, 11' to 12'",
 "1.5 to 2 m [5' to 6.75'] shark",
 '3.5 to 4 m shark',
 "Bull shark, 7'",
 ' reef shark, 1.8m',
 "White shark, 4.9 m [16'] ",
 "Alleged to involve a White shark, 7.6 m [25'] ",
 'Salmon shark',
 'Raggedtooth shark, 1 m ',
 '2\' "banjo shark"',
 "5' shark",
 "Szot's right hand found in a 4.5' [14.5'] tiger shark caught 3/9/1950 at Safety Bay, south of Freemantle",
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 "Tiger shark, 1.8 m [6']",
 'possibly a bronze whaler shark',
 "White shark 4.9 m [16'] ",
 "Two shark's teeth recovered from canoe",
 "Thresher shark, 3.7 m [12'] ",
 'White shark, 4 m to 5 m ',
 "4 m to 5 m [13' to 16.5']  white shark",
 "3' blacktip shark",
 "10' whale",
 "4.5 to 5' shark",
 'Not a shark attack; it was a hoax',
 "Thought to involve a >2 m [6.75'] bull shark",
 "4.3 m [14'] shark seen in area previous week",
 "1.8 m [6'] blacktip shark or Caribbean reef shark",
 '.5 m shark',
 'Questionable incident; reported as shark attack but thought to involve a pinniped instead ',
 "Tiger shark, 8' ",
 "Tiger shark, 10' to 12'",
 "Tiger shark, 3.7 m to 4.3 m  [12' to 14']",
 "0.9 m [3'] shark",
 'Nurse shark, 106 cm, 28-lb, male ',
 "1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered ",
 'Spinner shark or blacktip shark',
 "8' to 10' shark",
 'reef shark',
 "White shark, 3 m [10'] k",
 "Nurse shark, 2' to 3' ",
 "4 m to 5 m [13' to 16.5']  white shark ",
 "Tiger shark 3 m  [10'] ",
 "Spinner shark, 3' to 4' ",
 "1.2 m [4'] shark (spinner shark?)",
 ">3 m [10'] shark",
 'a sand shark',
 "3 m to 4.3 m [10' to 14'] shark",
 'Shortfin mako shark',
 "Blacktip shark, 5'",
 "Dusky shark, 12' ",
 "White shark, 5 m to 6 m [16.5' to 20']  ",
 'small carpet shark',
 "Blue pointer, 16'",
 'White shark (tooth fragments recovered from hull of boat)',
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']',
 'Reportedly: oceanic whitetip sharks, blue sharks, tiger sharks & bull sharks',
 "Local authorities speculated that the water was too cold for sharks, but a 2.1 m [7'], 200-lb pregnant sandbar shark was caught next day",
 "9.5' shark?",
 "Whaler shark, 2.7 m [9'], 350- to 450-lb  identified by G.P. Whitley",
 'Said to involve 2 sharks',
 "Wobbegong shark, 4'",
 'Blacktip Reef shark ',
 "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark",
 "Bronze whaler shark, 3 m [10'] ",
 "3 m [10'] bull shark",
 'Bull shark, 2.5m',
 '> 3 m shark',
 'Bull shark, 1.3 m',
 'White shark, 4.5m',
 "Tiger shark, 3.7 m [12'] ",
 "White shark, 13'",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "Tiger shark, 8'",
 "0.7 m [2.5'] sand shark",
 "2.7 m [9'] bull shark, identified by Capt. W. Gray",
 'Bull or tiger shark',
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 '3.5 m white shark',
 'Lemon shark',
 'Bronze whaler shark, 2 m',
 "1.2 m to 1.5 m [4' to 5'] hammerhead shark",
 "Porbeagle shark, 3 m [10']rk",
 "3'  shark",
 "1.5 m to 1.8 m [5' to 6'] \x93spear-eye\x94 shark ",
 'A 20\' shark known as "Old Tom"',
 "Tiger shark, 2.4 m [8']",
 "Zambesi shark, 1.2 m [4'] ",
 "1.8 m [6'] shark ",
 "Tiger shark, 10' to 12' ",
 'Blacktip reef shark',
 'Shark involvement probable',
 'Grey nurse shark, 3m',
 '"Tintorero"',
 "Wobbegong shark, 1.4 m [4.6'] ",
 'White shark or oceanic whitetip shark',
 'Blue pointers',
 "1.8 m [6'] copper shark",
 'Tiger shark, <2 m TL',
 'Allegedly a 4 m tiger shark',
 'Tiger shark, 8 to 12 feet',
 "4' shark?",
 'Raggedtooth shark, 147-kg [324-lb] ',
 'possibly a small blacktip shark',
 'Raggedtooth shark, 2.5m ',
 "Nurse shark, 10' ",
 "5' spinner shark",
 "Said to involve a 6.5 m [21.5'] shark",
 "Bull shark, 8'",
 "4' spinner shark",
 "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
 "20' shark",
 '2 m cow shark',
 'Lemon shark, 1164 mm, immature male, identified by  V.G. Springer',
 "1.8 m to 2.4 m [6' to 8'] sharks, most were oceanic whitetip sharks",
 'Said to involve a tiger shark or a hammerhead shark',
 "Tiger sharks, 2.4 m to 4.9 m [8' to 16'] ",
 "3 m to 3.7 m [10' to 12'] shark",
 'Survivors said 2 species of sharks were involved:  oceanic whitetip sharks and another species,',
 'Salmon shark suspected, but unlikely',
 "1.8 m [6'] grey reef shark",
 'Gray reef shark',
 "3.7 m to 4.3 m [12' to 14'] shark",
 "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark",
 "2.4 m [8'] shark, possibly a dusky shark",
 'Tiger shark, 277-kg',
 'Blacktip shark ',
 'A bull shark, according to some of the divers on the boat',
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'Whtietip reef shark',
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "2.7 m [9'] shark later captured by Mitchell-Hedges",
 'Dusky shark, 3m',
 "5 m [16.5'] shark",
 'said to involve an oceanic whitetip shark',
 '\xa0 ',
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "Said to involve 2 sharks: 5.2 m & 6 m [17' & 20'] ",
 ' Bull shark, 2.5 m',
 'Sand shark?',
 'White sharks',
 "Bull shark, 9' to 10'",
 '4.5 m to 5 m white shark',
 "15' shark",
 'Tooth fragments of \x93whaler\x94 shark were recovered, a bull shark, according to Edwards',
 'White shark x 2',
 'Bronze whaler shark',
 'Blacktail reef shark',
 '20 to 30kg shark',
 'Tiger shark, 4.5 to 5.5 m [14\'9" to 18\'], 2000-lb  ',
 'Most likely, a small shark',
 "6' shark",
 '1.8 m to 2 m [6\' to 6\'9"] shark',
 "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
 '1.5 m [5\'] "whaler shark"',
 'Raggedtooth shark, 1.96 m, 140-kg ',
 'White shark, 4 m',
 "Blacktip shark, 1.8 m [6'] ",
 'Whale shark',
 " Bull shark, 5'",
 'Nurse shark?',
 '3 m to 3.6 m  [10\' to 11\'9"] white shark',
 'Sevengill shark, 2.4 m',
 "Tiger shark, 9' to 10' ",
 'Whitetip reef shark',
 '1 m hammerhead shark',
 'Raggedtooth shark, 100-lb ',
 'White shark, 2.5m ',
 "4.7 m [15.5'] shark",
 "Tiger shark, 1.5 m [5'] ",
 "Said to involve an 8' shark but more likely damage caused by debris",
 'Possibly a sandbar shark or small blacktip shark',
 "Zambesi shark, 1.8 m [6'] ",
 "White shark, 1.8 m [6'] ",
 "Tiger shark, 13' ",
 "3 m [10'] white shark",
 'Grey nurse shark, 2 m',
 'White shark or bronze whaler',
 '193-lb shark',
 "Tiger shark, 3 m [10'] ",
 'Reported to involve a white shark',
 'Possibly a Caribbean reef shark',
 'White shark, 2m',
 'Species unknown, possibly a white shark',
 'dogfish shark',
 "3.7 m [12'] white shark",
 "White shark, 4 m [13'] ",
 'Remains recovered 5 days later',
 "3.7 m [12'] shark ",
 'Possiby white shark',
 '<1.5 m shark',
 'Shark involvement not confirmed & highly unlikely',
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Thought to involve a Tiger shark,  3.7 m [12'] ",
 'Tiger shark, 3 m ',
 'Shark involvement prior to death could not be determined',
 'Nurse shark, 2.5-ft',
 "2.1 to 2.4 m [7' to 8'] shark",
 '650-lb shark',
 'White shark, 6m ',
 "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
 "White shark, 3.5 m [11.5'], identified by W. I.  Follett on tooth fragments",
 "Tiger shark, 4.3 m [14'] ",
 "2.7 m  [9'] shark",
 "White shark, 2.5 m [8.25']  ",
 "1.2 m [4'] dusky shark",
 "numerous dusky sharks & a 3 m to 4.6 m [10' to 15'] to  tiger shark",
 'white shark',
 "Bull shark, 10'",
 "6 m [20'] white shark",
 "Tiger shark, 15' female",
 "Bull shark, 10' ",
 'Shark seen feeding on turtle scraps thrown overboard prior to incident.',
 "3.5 m [11.5'] shark",
 "Oceanic whitetip shark, 7'",
 " white shark, 15' ",
 "Tiger shark, 3.4 m [11'] captured",
 '3+ m shark',
 "3.5' hammerhead shark",
 '2.27 m shark',
 "Tiger shark, 3 m [10']",
 "Sandtiger shark, 2.1 m [7'] ",
 'Nurse shark, 58", 34-lb ',
 'Questionable incident - shark bite may have precipitated drowning',
 'Questionable incident',
 "1.5 m to 1.8 m  [5' to 6'] shark",
 'Wobbegongs',
 '3 bull sharks',
 "Blacktip shark, 4' to 5'",
 'Tiger shark, 2.5 m ',
 'small shark',
 'A small shark',
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Large tiger shark seen in the vicinity the following morning',
 "Wobbegong shark, 1.2 m [4'] ",
 'Small shark',
 "5' to 8' shark",
 '1m shark',
 "3 m [10'], 270- kg [595-lb] shark",
 'Lemon shark, 1.8 m [6\'] male, N. breviostris, identified by W.A. Stark II, later the same day a 6\'8" pregnant female lemon shark bit the bow of the boat',
 "Tiger shark, 10'",
 'Tiger shark, 4 m, 420-kg, caught 13-Dec-1987',
 'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses',
 "Lemon shark, 9'",
 '2 white shark: 13\' & 9"8"',
 "12' to 14' white shark",
 'White shark, identification by K. Nakaya',
 "2' to 3' reef shark",
 '3.5 m [11.5\'] female white shark named "Notchfin"',
 'Wobbegong shark, 2 m ',
 "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
 "Mako shark (aka bonito shark) 1.2 m [4'] ",
 '2 sharks, 4.5 m & 3 m ',
 'Possibly C. leucas',
 "Said to involve a 2.7 m [9'] shark",
 "Bronze whaler shark, 3.7 m [12'] ",
 '500-lb shark',
 '3.6 m [11\'9"] white shark',
 "Nurse shark, 0.9 m  [3'] ",
 'Tiger sharks in area',
 '2 m to 3 m shark',
 "Hammerhead shark, 2.4 m [8'], according to lifeguard Sam Barrows",
 '1.2 m [4\'] "grey-colored shark"',
 'Shark involvement questionable',
 'Blue or porbeagle shark',
 '150-lb shark',
 "Mako shark, 3 m [10'] ",
 "Tiger shark, 4.6 m [15'] ",
 'Thought to involve a Bronze whale shark, 2m',
 "4' to 8' shark",
 'Sevengill shark',
 'Wobbegong, 2m',
 '5\'7" shark',
 "Bronze whaler shark, 1.8 m [6'] ",
 '3 m shark',
 "4.9 m [16'] whaler",
 "Blue shark, 3 m [10']",
 "7' shark",
 "White shark, 10 '",
 '2 m [6\'9"] shark ',
 "Tiger shark, 13'",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "[4.5' to 5'] shark",
 'Tiger shark',
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Blacktip shark, 4'",
 'White shark, 3 m',
 'juvenile white shark',
 "2.1 m  [7'] bull shark",
 '200 to 300 kg shark',
 'Oceanic whitetip shark',
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 "White shark, 4.3 m 4.9 m [14' to 16'] ",
 'Shark involvement not confirmed; officials considered barracua',
 'Mako shark (tooth fragments recovered)',
 'Thought to involve a juvenile hammerhead shark',
 'White shark, 15\'2" ',
 "Tiger shark, 15'",
 '4.2 m white shark',
 "Tiger shark, 2.1 m [7']",
 ">1.8 m [6'] shark",
 "Nurse shark, 1.2 m [4'] ",
 "Wobbegong shark, 6'",
 'Small dusky shark or blackfin shark',
 "Wobbegong shark, O. barbatus,  1.8 m [6'], identified by G.P. Whitley",
 "12' sandtiger shark",
 "Wobbegong shark, 1.5 m [5'] ",
 'Blacktip reef shark, 1m',
 'Blacktip reef shark ',
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 'Zambesi shark?',
 'Raggedtooth shark, 1.5 m',
 "Grey nurse shark, 1.5 m [5'] ",
 ">1.2 m [4'] tiger shark",
 "Porbeagle shark, 7'",
 'Zambezi shark (tooth fragments recovered)',
 '"reef shark"',
 '4.3 m shark',
 'Oceanic whitetip shark x 2',
 "2.1 m [7'] lemon shark or bull shark",
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)",
 "1.2 m [4'] spinner shark",
 'White shark, 4.5 m [14\'9"] ',
 "1' to 2' shark",
 "White shark, 5 m [16.5']",
 'C. leucas tooth fragment recovered from kayak',
 "White shark, 3.7 m to 4.6 m [12' to 15'] ",
 "3.7 m [12'] shark & may have been another shark nearby",
 "8' blue shark",
 '"a very large shark"',
 "Lemon shark, 4' ",
 "White shark, 5 m to 6 m [16.5' to 20] ",
 "Spinner shark, 6'",
 "White shark, 4.9 m [16']",
 'Wobbegong shark, 1.4 m [4\'6"] ',
 '6 m, 600-kg shark',
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "Blacktip reef shark, 1.5 m [5'] ",
 '60 cm  shark ',
 "Bull shark, 2.1 m [7']",
 "3.7 to 4.5 m [12' to 15'] shark seen in vicinity",
 '"Shark caught later"',
 "Sevengill shark, 6' to 8'",
 'Remains recovered from 3 sharks',
 'Tawny nurse shark',
 "Hammerhead shark, 3 m [10'] ",
 '100-lb shark',
 "Bitten by several 1.8 m [6'] sharks",
 "1.5 m to 1.8 m [5' to 6'] sandbar shark",
 "Wobbegong shark, 4' ",
 'Tiger shark, 3m',
 "Wobbegong shark, 1.2 m [4'] k",
 'Blacktip shark, 2m',
 "Blacktip shark, 2 m [6.75'] ",
 'Galapagos shark',
 "White shark, 3 m to 4 m [10' to 13'] ",
 "3 m [10'] gaffed shark",
 "White shark, 4.4 m to 5 m [14.5' to 16.5'] ",
 'Raggedtooth shark, 56-kg [123-lb] ',
 "2.4 m  [8'] shark",
 "Tiger shark, 1.5 m to 1.8 m [5' to 6'] ",
 "Possibly a 6' lemon shark",
 "Possibly a 5' to 6' bull shark",
 ">3.4 m [11'] white shark",
 'small blacktip shark',
 'Blue shark, 4.5 m [14\'9"]',
 'Bronze whaler shark, 1.5 m ',
 'Blue pointer',
 "White shark, 7'",
 'Tiger shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 '2.1 m [7\'] shark with "a very flat head\x94 that had followed the boat for 3 days',
 "Two 2.1 m [7'] sharks",
 'White shark, 15\'3", 2,333-lb ',
 'Thought to involve a porbeagle or mako shark',
 'Lemon shark, 0.5 m',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 'Not authenticated',
 'Shark involvement not cofirmed',
 'Raggedtooth shark, 2 m ',
 "White shark, 4.3 m [14'], (tooth fragment recovered)",
 'possibly a porbeagle shark',
 "Nurse shark, 2.1 m [7']  identified by Dr. E. Clark on color & tooth impressions",
 "a small shark'",
 "1.8 m [6'] grey-colored shark",
 "White shark, 5 m [16.5'], identified by Dr. W. I. Follett on tooth marks",
 "Tiger shark, 6'",
 "2.4 m to 3.7 m [8' to 12'] shark",
 '300- to 400-lb Zambesi shark',
 'White shark, 2.7 m [9\'1"], 750-lb ',
 '40 to 50 sharks attacked survivors in the water',
 "Two 3 m [10'] oceanic whitetip sharks",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "White shark, 5.5 m [18']",
 "Tiger shark, 1.8 m [6'] ",
 "Tiger shark, 5.2 m [17']",
 "Tiger shark, 7'",
 "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
 'Possibly a juvenile blacktip or spinner shark',
 "1' to 2' hammerhead or bonnethed shark",
 'Blue shark, 2m ',
 "Raggedtooth shark, 2.7 m [9'] ",
 "Teeth in hull identified as those from a white shark 4.6 m [15'] in length",
 '1.7 m shark',
 "White shark, 5.5 m to 6 m [18' to 20']  ",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 'Oceanic whitetip shark, 2.5m ',
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable',
 'Bull shark, 1.5m ',
 ' White shark',
 'Soupfin shark',
 'Bronze whaler shark, 2 m ',
 'Bull shark, 3.5 m',
 "2.6 m [8.5'] shark landed 2 hours later",
 "White shark, 1.5 m [5'] k",
 'Mako shark, 100-lb',
 "3 m to 4.5 m [10' to 15'] white shark",
 'small blacktip shark?',
 'Tiger shark, 1.5 m ',

In [41]:
set(df['Injury'])
# The same happens with Injury, the information is too broad, I cannot categorize it together

{'Boat damaged',
 'Jaw dislocated & contusions from many blows on legs & body by shark fins, rescued after 14 hours',
 'Major injury to torso',
 'Bitten on forearm PROVOKED INCIDENT',
 'Tip of finger amputated PROVOKED INCIDENT',
 "No injury, shark bumped diver's face",
 'Bitten on rear lower extremities',
 'Shark bit swimfin after diver kicked shark PROVOKED INCIDENT',
 'No injury; shark rammed boat, catapulting Leverenz in the sea & damaging boat',
 'Lacerations to leg & ankle',
 'Six puncture wounds on  leg',
 'No injury, shark bit scuba tank boot',
 'FATAL, some were taken by sharks',
 'Leg severed below knee',
 'FATAL, body not recovered',
 'Hand injured',
 'Grabbed small shark & it bit him  PROVOKED INCIDENT',
 'Struck on head by shark\x92s tail, knocked unconscious & deep gash in head PROVOKED INCIDENT',
 'Minor injuries to arm',
 'Lacerations to chest',
 'Laceration and 4 puncture wounds to left hand',
 ' No injury. Shark bumped kayak, flinging her into the  water. ',
 'Left arm lacerated  PROVOKED INCIDENT',
 'Smith hit by tail of shark, Walker sustained cuts on his  wrist PROVOKED INCIDENT',
 'Abrasions on lower leg',
 'Minor puncture wounds',
 'Lacerations and puncture wounds to foot and ankle',
 'Leg bitten by captive shark PROVOKED INCIDENT',
 'Right hand bitten by hooked shark PROVOKED INCIDENT',
 'Death resulted fom drowning; shark bites were post-mortem',
 'The two Malabagos were bitten by sharks but survived. The other occupants of the boat  were rescued.',
 'No injury to occupants, shark holed the transom-mounted livewell ',
 'Thigh & calf bitten',
 'No injury,     Shark landed on top of him, knocked him back down 3 times',
 'Struck by shark immediately before it bit Tanner (see below)',
 'Laceration to left ankle, heel and little toe',
 'Posterior lower left leg lacerated by netted shark PROVOKED INCIDENT',
 'Minor lacerations & abrasions on forearm',
 'Boat followed shark; shark holed boat',
 'Arm lacerated (shark made 3 strikes)',
 'Minor lacerations & abrasions to lower leg. ',
 '"Mysteriously disappeared" His body was found in a shark caught at Barber\'s Point on 01-Sep-1931',
 'No injury. Shark took string of fish then struck canoe',
 'FATAL, arm severed  ',
 'Lacerations to lower right leg & andkle',
 'Shark grasped thigh',
 'FATAL, 7 survived but 6 were taken by sharks',
 'Severe lacerations to abdomen & thighs',
 'Right lower leg bitten & defense wounds to hand',
 '2-inch lacerations',
 'Bumped by shark, legs abraded',
 'No injury to occupants; shark bit steering oar',
 'Minor injury',
 'No injury to occupant, canoe struck several times by shark ',
 'No injury to occupant, shark holed boat',
 'Bodies of 5 of the 6 men on board were bitten by by sharks. Sharks may have contributed to the death of some of them.',
 'No injury, shark bit her bathing suit',
 'Heel bitten',
 'Cause of death was drowning, shark bites were post mortem',
 'FATAL        Only 4 of the 18 on board were rescued, some of the missing were allegedly killed by sharks',
 'Finger bitten by hooked shark PROVOKED INCIDENT',
 'No injury to occupants, shark bit boat',
 'No inury',
 'Laceration to shin of left leg',
 'Left shoulder bitten',
 'Foot severed at ankle joint',
 'Chest & buttocks  bitten',
 'FATAL, left thigh, buttocks, back of spine, abdomen & chest bitten  ',
 'Right ankle & heel  lacerated',
 'FATAL. "Shark tore him to pieces.',
 'Shark turned & severed his leg PROVOKED INCIDENT',
 'Injuries, if any, unknown, but afterwards diver stunned shark with iron bar',
 'Lacerations to ankle & foot',
 'Minor lacerations to right foot',
 '2 bite marks on right calf',
 'FATAL, arms & legs bitten, then drowned ',
 'No injury to occupants. Shark leapt into boat, momentarily pinning Crew against the side',
 '3 puncture wounds on left foot',
 "No injury, shark's fin caught his leg",
 'Right shoulder forarm & wrist bitten',
 "The shark bit the diver's leg after he shot it  PROVOKED INCIDENT",
 'Boat capsized in squall. 2 bodies scavenged  by sharks',
 'Right shin lacerated',
 'Calf, foot & hand bitten',
 'Lacerations to left thigh',
 'FATAL, torso bitten ',
 'Right leg & left foot lacerated',
 '3 one-inch lacerations to sole of right foot',
 'Back, arms & wrist severely lacerated',
 'Lacerations to shin',
 '3 wounds on left hand',
 'FATAL, leg severed just below hip ',
 'Bitten behind knee & lower leg',
 'Right heel & ankle bitten',
 'Lacerations to right foot',
 'Minor cut on finger',
 'Severe bump & few superficial wounds ',
 'No injury to occupants, shark holed boat',
 'Tossed in air by shark, sustained abrasions',
 'FATAL, died next day at 03h00',
 'No injury, shark bit nose of surfboard',
 'Puncture wounds and lacerations to left thigh and knee',
 '8 shark-bitten bodies washed ashore',
 'Hand & wrist severely bitten',
 'FATAL, only 1 of her crew of 7 survived',
 'FATAL, pulled overboard by tuna, & bitten by shark ',
 'Multiple injuries',
 'Knee bitten by boated shark PROVOKED INCIDENT',
 'Lacerations to little finger',
 'FATAL but shark involvement in death unconfirmed',
 'Ankle lacerated, lower left leg severely abraded ',
 'Leg bitten by netted shark PROVOKED INCIDENT',
 'Foot severed ',
 'Survived, but suffered a \x93forequarter amputation\x94',
 'Laceration to leg by hooked shark  PROVOKED INCIDENT',
 'No injury to occupants but hull splintered by harpooned shark PROVOKED INCIDENT',
 'Buttock bitten',
 'No injury, shark leapt on surfboard',
 'Presumed taken by a shark,  but forensic evidence suggested otherwise.',
 'FATAL, "pulled below the surface\'  ',
 'Bruised',
 'Left foot bitten & abraded',
 'Fatal or drowning or scavenging',
 'Significant injuries to lower legs',
 'Finger severed',
 'Possible drowning and scavenging',
 'Leg bitten & femur fractured',
 'Lacerations & punctures on left  forearm',
 'No injury: Knocked off board by shark',
 'Lost left arm',
 'No injury, shark made threat display, one diver shot shark in jaw, then they killed shark with knives  ',
 'No injury, wetsuit punctured',
 'Legs severely bitten, surgically amputated',
 'Minor injury to left ankle & foot',
 'Knee bitten',
 'FATAL, lower abdomen removed ',
 'Probable drowning and scavenging',
 'Lower leg lacerated',
 'FATAL, finger severed, thigh bitten He died during the surgical amputation of his leg   ',
 'No injury, sack rammed by shark & shark  harassed him when he surfaced',
 'Bitten by captive sharks PROVOKED INCIDENTS',
 'Injuries to face & neck PROVOKED INCIDENT',
 'Lower leg and forearm severed',
 'Sole of foot bitten',
 'No injury, shark nudged boat and bit propeller',
 'Left hand severely lacerated',
 'Lacerations to thigh and hand',
 'FATAL, shark pulled them off hull of boat  ',
 'Minor lacerations to leg & foot',
 'Right leg was bitten above and below the knee and an artery was punctured',
 'Disappeared while diving, speargun recovered, 2 large sharks in vicinity.',
 'FATAL, shark/s bit him in two',
 'Foot lacerated, surgically amputated',
 'FATAL x 2, all other passengers & crew reached shore after a long swim',
 '"Severely bitten but recovered"',
 'Lacerations to lower leg & ankle',
 'Fingers & leg lacerated  by hooked shark PROVOKED INCIDENT',
 'No injury to occupants, but Emmanuel "later died of shock in hospital"',
 'Severe injury to thigh',
 'Lacerations to left calf and foot',
 'Landed shark in boat bit his left leg  PROVOKED INCIDENT',
 'Left shin bitten by captive shark PROVOKED INCIDENT',
 'Minor cuts & bruises on face & neck',
 'Abrasions & bruises hip to ankle',
 'FATAL, legs & torso bitten ',
 'Lacerations to left foot & right shin',
 'Severely lacerated arm PROVOKED INCIDENT',
 'Right forearm severed, left forearm lacerated & broken',
 'No injury, surf-ski bitten',
 'Hand bitten by speared shark PROVOKED INCIDENT ',
 'Of the 18 crew who survived the sinking, 10 were taken by sharks. Cabarrocas was bitten but survived',
 "A 4.3 m [14'] shark made threat display. No injury, no attack",
 'No injury to occupants, shark bit anchor and ladder',
 'Puncture wounds & lacerations to both legs',
 'No injury, board damaged',
 'Puncture marks on right thigh',
 'Reported to have had "2 fights with sharks" before being rescued by the British freighter Dorsetafter 23 hours in the water',
 'Laceration to buttocks Recorded as PROVOKED INCIDENT',
 'Found to be a hoax',
 'FATAL, right thigh & hip bitten',
 'Face bruised when partly blind shark collided with him',
 'Puncture wounds to right thigh',
 'Lacerations below the knee',
 'His remains were recovered from a \x93huge shark\x94 caught 3 days later. The remains of another fisherman, Harold Fujimoto, were recovered, but the body of the third fisherman, Hideo Tamura, was never found',
 'No injury, shark collided with diver',
 'Cuts on left foot ',
 'Harpooned shark bit his forehead PROVOKED INCIDENT',
 'No injury, shark bit surfboard ',
 'Single laceration on ankle & board bitten',
 "No injury, shark grabbed scuba tank and descended to 110' before releasing him ",
 'Lacerations to left foot & ankle',
 'Punctures & lacerations to right calf & calf',
 '40 people perished',
 'Puncture wounds & scratches to torso & left leg ',
 'Laceration to right ankle',
 'Another diver shot shark, shark bit his left foream  PROVOKED INCIDENT',
 'Punctured lung, lacerations to shoulder, face, jaw, neck & forearm',
 'Upper leg bitten PROVOKED INCIDENT',
 'Shark involvement prior to death not confirmed',
 'FATAL, legs severed  ',
 'Laceration to left foot',
 'No injury, shark bumped board flipping him into the water',
 'Right arm nearly severed at shoulder, left wrist lacerated',
 '3 lacerations on leg',
 'FATAL, left thigh & knee bitten ',
 'Shark struck him but the diver was not injured',
 'No injury to occupants; shark rammed boat repeatedly',
 'Bruised, when shark struck scull & catapulted her into the water',
 'Arm bitten, surgically amputated',
 'Laceration to right arm',
 'Severe injury to forearm near elbow',
 'Buttocks, thigh, left hand & wrist injured',
 'Calf scratched & chunk bitten from board',
 "No injury, shark snagged its teeth in diver's suit",
 'Multiple superficial lacerations of leg, arm & hand PROVOKED INCIDENT',
 "No injury to occupants. Shark bit boat's swim step & repeatedly pushed the boat away whenever if came within 4 to 5 m of the whale carcass",
 'Legs severed FATAL',
 'Cut to arm while roping shark PROVOKED INCIDENT',
 'Laceration to foot. Injured by a stingray, not a shark',
 'No attack, no injury to occupant: a 400-lb grey shark k bit nets in the water ',
 'Shot shark, then it bit him. Puncture wounds on leg  PROVOKED INCIDENT',
 'Left foot: lacerations on heel and sole',
 ' 6 lacerations to left hand',
 'No injury, shark pushed canoe from jetty to a point 100 m away',
 'Flexed right leg bitten',
 'Severely bitten on heel, 20 others taken by sharks',
 'No injury to occupants; shark circled boat repeatedly then rammed the vessel 3 times',
 'No injury, shark charged & impaled itself on spear',
 'Leg severely bitten & later surgically amputated',
 'Slight injuries to left knee & calf ',
 'Dorsum of foot lacerated & toe severed',
 'No injury to occupants, shark charged boat, then 2 more sharks hit boat, oar grabbed, boat finally drifted ashore at 02h00',
 'Reported fatal, but this is a questionable incident',
 'Board reportedly bumped by shark. No injury',
 'Lacerations to right leg',
 'Arm lacerated from shoulder to wrist',
 'FATAL, buttock lacerated  ',
 'Injuries to right hand and forearm',
 'Right Leg bitten',
 'Left knee & leg bitten',
 'FATAL, partial remains recovered',
 'Death was due to drowning; body scavenged by a shark',
 'Left Achilles tendon severed, calf muscles severely lacerated',
 'Thought to have been taken by a shark',
 'Body not recovered ',
 'Paddle of surf ski bitten by shark',
 'Thigh severely lacerated',
 'Laceration to hand  ',
 'Shark leapt into & damaged the dinghy but no injury to occupants',
 'Dorsum of foot/ankle  injured by surfboard skeg or other inanimate object.',
 'Multiple injuries ',
 'Unclear if he sustained any injury from the shark',
 'Severe injuries to head, neck, shoulder & upper left arm',
 'Shark struck him on shoulder injuring skin under suit',
 'Cuts on fingers, hand & wrist',
 'Minor cuts to dorsum & sole of left foot when he stepped on shark PROVOKED INCIDENT',
 'Left leg bitten PROVOKED INCIDENT',
 'FATAL, arm severed, thigh severely bitten  ',
 'Arms severed, but he survived',
 'FATAL, left thigh severely bitten ',
 'No injury, towed by shark that grabbed stringer of fish tied to his waist',
 "5' gash in leg",
 'Abrasion on right foot, board bitten',
 'FATAL x 4. Afterwards metal mesh nets were installed',
 'No injury, bumped off board by the shark',
 "No injury, shark went for diver's leg & missed, diver hit shark on head with speargun & shark bit speargun ",
 '3 fingers severed when he used his hand as bait',
 'Body recovered  from shark but death due to shark bite was not confirmed',
 'No injury, shark bit kayak',
 'Chest & buttocks bitten, left leg severed at knee',
 'Laceration to right hand/wrist',
 'No injury to occupants. Shark beat away with oar',
 '4 or 5 lacerations on left ankle',
 'FATAL, right arm severed  ',
 'Punctures & lacerations on elbow & forearm',
 'Left thigh stripped of flesh 4" above the knee ',
 'No injury, surboard flung into air & dented',
 'Leg & surfboard bitten',
 'Jumped off cliff',
 'Arm & leg severed, survived ',
 'Leg gashed',
 'Puncture wounds to thigh, defense wounds  to hand',
 'FATAL, chest & leg bitten ',
 'No injury to occupants. Shark  gouged planks of boat',
 'FATAL, thigh bitten  ',
 'Left ankle bitten',
 'Shark jumped in boat, hitting her in the face & knocking her unconscious',
 'Back, buttocks, left hand & left side of face bitten',
 '2 toes bitten off ',
 'Arms severely injured, surgically amputated',
 'Two half-inch lacerations on right heel and one near small toe',
 'FATAL, of 190 passengers & crew thrown into the water, 50 people were said to have been killed by sharks',
 'Speared shark bit his forearm PROVOKED INCIDENT',
 'Bruised in falling overboard as shark bumped boat',
 'Arm bitten when he grabbed shark\x92s tail  PROVOKED INCIDENT',
 'Left eg bitten PROVOKED INCIDENT',
 'Minor injury ',
 'Questionable. Recovered flight gear was "completely shredded by sharks" but pilot may have died when plane hit the water,',
 'Right leg severely lacerated',
 'Minor bite on heel & swim fin bitten',
 'Hand  & both arms bitten   PROVOKED INCIDENT',
 'No injury, minor damage to wetsuit',
 'Bitten on right hand & wrist',
 'Laceration to hand  PROVOKED INCIDENT',
 'No injury to occupants, shark crushed boat',
 'No injury to occupants, hull of ski bitten',
 'Foot injured ',
 'FATAL, probable drowning & post mortem scavenging',
 'Left calf, ankle & foot lacerated',
 'Leg lacerated thigh to ankle',
 'Right foot bittten',
 'Human remains recovered',
 'Murdered, body scavenged by sharks',
 "No injury to occupants, boat's rear platform bitten",
 'Shark made threat display, then diver hit it with powerhead PROVOKED INCIDENT',
 'No injury to occupant, shark/s holded  kayak',
 'When picked up by the USS Boyd DD 44 on 6/23/1944 his raft was "surrounded by sharks"',
 'No injury, ski severely damaged',
 'Dorsum of right hand bitten',
 'FATAL, right leg nearly severed, puncture wounds to left leg ',
 'FATAL, lower abdomen severely bitten & his left leg was severed',
 'Right forearm and wrist injured',
 'Right ankle bitten',
 'FATAL, leg severed, other leg lacerated ',
 'FATAL, hips & thigh bitten ',
 'Press reported that a 3 m shark  was caught with human remains in its gut, but  remains were those of a porpoise according to medical examiner',
 'Top of left foot bitten',
 'Torso & righ arm bitten FATAL',
 'Remains of drowning victim recovered from shark',
 'No injury, shark bit his speargun after he used it to prod the shark PROVOKED INCIDENT',
 "No injury, 2 m to 2.5 m [6.75'  to 8.25'] shark made a threat display",
 'FATAL, died in Lourenco Marques Hospital',
 'Lacerations & puncture wounds to left foot & buttocks',
 'Right leg  severed FATAL',
 'FATAL, severe abdominal injuries ',
 'Arm lacerated',
 'Lacerations to elbows &  knees',
 'Stingray envenomation, not a shark',
 'Laceration to right forearm',
 'Tissue of left leg stripped from knee to ankle ',
 'Surfer grabbed shark, which turned & bit him and 2 lifeguards PROVOKED INCIDENT',
 'Although this incident is listed elsewhere as a shark attack, the account of the disaster suggests the 4 who perished probably drowned. Five people survived',
 'Fingers injured by landed shark PROVOKED INCIDENT',
 'FATAL, left forearm & hand bitten, brachial artery severed, died of secondary hemorrhage 11 days later ',
 'According to survivors, many people were taken by sharks',
 'Arm severed at elbow',
 'FATAL, arm & leg severed & shark smashed at his body with its tail  ',
 'Hand & foot bitten',
 'No injury, shark bumped & damaged board',
 'Arm abraded & lacerated. Recorded as PROVOKED INCIDENT',
 'PROVOKED INCIDENT        No injury; shirt torn by gaffed shark',
 "9' shark in area when he disappeared, body not recovered",
 'Abdomen abraded, thigh lacerated',
 'Both arms & leg bitten',
 'No injury to occupants, shark hit boat & bit outboard motor',
 'Forearm slashed wrist to elbow by hooked shark he was trying to club to death  PROVOKED INCIDENT',
 'No injury, chased by 3 sharks',
 'Right leg bitten thigh to heel',
 'Right foot & ankle bitten',
 'No injury. Copper breastplate & harness bitten',
 'Left hand, arm & leg lacerated, & shark bit chunk out of his surfboard',
 'Major injuries to head, buttocks & back',
 'Lower leg nipped, arm bruised when he landed in boat',
 'Toes lacerated',
 'Puncture wound to foot',
 'FATAL, injuries to both arms  ',
 'No injury, a 3 m blue shark merely snapped at the man.',
 'Left leg bitten  & left forearm lacerated',
 'FATAL, left arm & right leg severed ',
 'Lacerations to legs & buttocks',
 'No injury, shark "harassed" him at depth of 5 m',
 'Minor cuts to foot',
 'Abdomen bitten, but she survived. Most of the 40 others that survived the wreck, were taken by sharks',
 'Laceration to right lower leg',
 'No injury to occupants, shark almost wrenched oar from aborigine',
 'Cause of death may have been downing',
 'Lacerations to thigh & torso',
 'His remains were recovered from a shark 3 years after his disappearance - Probable drowning / scavenging',
 'FATAL, hand severed, right leg and torso bitten ',
 'Hand lacerated',
 "No injury. Shark grazed canoe, snapped at a piece of mast being trailed in the water & followed it into 2' of water",
 "Abdomen & arm bitten. Shark, holding him by the arm, leapt 4' to 5' above the surface",
 'FATAL, thigh bitten, hands lacerated  ',
 'FATAL. His brother speared a shark which then attacked Jose & severed his leg at knee. PROVOKED INCIDENT  ',
 'Shoulder lacerated',
 'No injury, but 2 small nicks on wetsuit',
 'Laceration on left thigh PROVOKED INCIDENT',
 'Calf lacerated & board bitten',
 'Arm bitten PROVOKED INCIDENT',
 'Buttocks bitten',
 '3 men knocked to ground by harpooned shark PROVOKED INCIDENT',
 'Left arm severed 2.5" from elbow, groin, abdomen, right forearm & hand lacerated, flesh removed from thigh, baring femur. Both arms surgically amputated: left arm above elbow, right arm above wrist. Survived',
 'Laceration to knee',
 'Human remains found in shark, possibly one of the crew of the wrecked fishing boat John Bull',
 'No injury, "shark chased him ashore"',
 'Lacerations to ankle & calf',
 'Injuries to left leg & right hand',
 'It was believed that survivors were killed by sharks',
 'No injury; 4m white shark made a threat display',
 'Left arm & leg lacerated',
 'FATAL, body not recovered Another man was also injured by the shark at same time (see below)',
 'Right arm abraded, circular piece of tissue removed from left calf',
 '5" gash in foot',
 'No injury, shark bumped ski',
 'FATAL, severe injuries to torso  ',
 'Torn shoulder ligament as result of collision with shark',

In [42]:
df['Date'].value_counts()
# The 'Date' column does not give any relevant information, for some cases it displays a year, for others it displays
# a year. I'm going to drop it because the 'Year' column in the df gives me the information of Date that I need

1957         11
1942          9
1950          7
1941          7
1956          7
             ..
05-Jun-93     1
09-Jun-93     1
10-Jun-93     1
29-Jun-93     1
1845-1853     1
Name: Date, Length: 5054, dtype: int64

In [43]:
df
# I'm going to remove Date, species and Injury

,Date,Year,Type,Country,Area,Location,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,country_grouped
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,Minor injury to thigh,N,13h00,NaN,USA
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,USA
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,Lacerations to lower leg,N,10h43,NaN,USA
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,AUSTRALIA
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,AUSTRALIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,male,M,NaN,FATAL,Y,NaN,NaN,AUSTRALIA
5988,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Ahmun,M,NaN,FATAL,Y,NaN,NaN,AUSTRALIA
5989,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,USA
5990,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,Other
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,Other

In [44]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Name', 'Sex',
       'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'country_grouped'],
      dtype='object')

In [45]:
df = df.drop(['Date','Injury','Species '], axis=1)

In [46]:
# Let's look into Type

In [47]:
df['Type'].value_counts()
#nothing to clean here, but I want to see it in %

Unprovoked      4328
Provoked         554
Invalid          493
Sea Disaster     218
Boat             197
Boating          104
Name: Type, dtype: int64

In [48]:
df['Type'].value_counts(normalize = True)*100

Unprovoked      73.430607
Provoked         9.399389
Invalid          8.364438
Sea Disaster     3.698677
Boat             3.342382
Boating          1.764506
Name: Type, dtype: float64

In [49]:
#Let's look into Year

In [50]:
df['Year'].value_counts()
# Years < 1800 doesn't seem like they will give me accurate information so I'm dropping rows before 1800

2015    139
2011    128
2014    125
0       123
2013    121
       ...
1804      1
1803      1
1800      1
1791      1
1818      1
Name: Year, Length: 225, dtype: int64

In [51]:
df.drop(df[df['Year'] < 1800].index, inplace=True)

df['Year'].value_counts()

2015    139
2011    128
2014    125
2013    121
2009    120
       ...
1846      1
1841      1
1836      1
1831      1
1800      1
Name: Year, Length: 200, dtype: int64

In [52]:
# Let's look into 'Age'

In [53]:
df['Age'].value_counts()

17                145
18                143
19                136
20                135
15                133
                 ...
32 & 30             1
60's                1
20?                 1
7      &    31      1
2Â½                  1
Name: Age, Length: 150, dtype: int64

In [54]:
df.dtypes
# I'm dropping null results and results that cannot be transformed into integer for age

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df = df.dropna(subset=['Age'])
df['Age'] = df['Age'].astype('int')

df['Age'].value_counts()

17    145
18    143
19    136
20    135
15    133
     ...
84      1
73      1
87      1
67      1
81      1
Name: Age, Length: 79, dtype: int64

In [55]:
df.isna().sum()

Year                  0
Type                  0
Country               7
Area                102
Location            133
Name                 10
Sex                  32
Age                   0
Fatal (Y/N)           7
Time               1001
country_grouped       7
dtype: int64

In [56]:
# I'm removing the columns that contain too many Null values
df = df.drop(['Area','Location','Time'], axis=1)

In [57]:
# I'm finally going ot remove all the Na values
df = df.dropna(subset=['Sex','Name'])
df.isna().sum()

Year               0
Type               0
Country            7
Name               0
Sex                0
Age                0
Fatal (Y/N)        7
country_grouped    7
dtype: int64

In [58]:
df

,Year,Type,Country,Name,Sex,Age,Fatal (Y/N),country_grouped
0,2016,Unprovoked,USA,male,M,16,N,USA
1,2016,Unprovoked,USA,Chucky Luciano,M,36,N,USA
2,2016,Unprovoked,USA,male,M,43,N,USA
7,2016,Unprovoked,USA,female,F,51,N,USA
8,2016,Unprovoked,NEW CALEDONIA,David Jewell,M,50,Y,Other
...,...,...,...,...,...,...,...,...
5790,1839,Unprovoked,FIJI,"Joeli Bulu, missionary",M,29,N,Other
5792,1837,Unprovoked,AUSTRALIA,Alfred Australia Howe,M,12,Y,AUSTRALIA
5802,1830,Unprovoked,USA,Joseph Blaney,M,52,Y,USA
5807,1828,Unprovoked,SIERRA LEONE,"Thomas Corrigle, an apprentice from the ship",M,17,N,Other
5823,1817,Unprovoked,SRI LANKA,William May,M,22,Y,Other

## Now that our data seems clean. I want to frame some questions:

In [59]:
#Question: What is the average age where for a fatal event per country?

In [60]:
df_2 = df.loc[(df['Fatal (Y/N)'] == 'Y')]
df_2.groupby(['country_grouped','Fatal (Y/N)'])['Age'].aggregate(lambda x: x.mean() )

country_grouped   Fatal (Y/N)
AUSTRALIA         Y              28.260000
BAHAMAS           Y              40.400000
BRAZIL            Y              21.863636
NEW ZEALAND       Y              29.000000
Other             Y              27.728155
PAPUA NEW GUINEA  Y              20.062500
SOUTH AFRICA      Y              25.285714
USA               Y              30.653846
Name: Age, dtype: float64

In [61]:
# Correlacion entre Fatal y ser Hombre

In [62]:
df

,Year,Type,Country,Name,Sex,Age,Fatal (Y/N),country_grouped
0,2016,Unprovoked,USA,male,M,16,N,USA
1,2016,Unprovoked,USA,Chucky Luciano,M,36,N,USA
2,2016,Unprovoked,USA,male,M,43,N,USA
7,2016,Unprovoked,USA,female,F,51,N,USA
8,2016,Unprovoked,NEW CALEDONIA,David Jewell,M,50,Y,Other
...,...,...,...,...,...,...,...,...
5790,1839,Unprovoked,FIJI,"Joeli Bulu, missionary",M,29,N,Other
5792,1837,Unprovoked,AUSTRALIA,Alfred Australia Howe,M,12,Y,AUSTRALIA
5802,1830,Unprovoked,USA,Joseph Blaney,M,52,Y,USA
5807,1828,Unprovoked,SIERRA LEONE,"Thomas Corrigle, an apprentice from the ship",M,17,N,Other
5823,1817,Unprovoked,SRI LANKA,William May,M,22,Y,Other

In [63]:
df.isna().sum()

Year               0
Type               0
Country            7
Name               0
Sex                0
Age                0
Fatal (Y/N)        7
country_grouped    7
dtype: int64

In [64]:
df3 =pd.concat([df, pd.get_dummies(df['Sex'])], axis=1)
df4 =pd.concat([df3, pd.get_dummies(df['Fatal (Y/N)'])], axis=1)

In [65]:
df4

,Year,Type,Country,Name,Sex,Age,Fatal (Y/N),country_grouped,F,M,N,Y
0,2016,Unprovoked,USA,male,M,16,N,USA,0,1,1,0
1,2016,Unprovoked,USA,Chucky Luciano,M,36,N,USA,0,1,1,0
2,2016,Unprovoked,USA,male,M,43,N,USA,0,1,1,0
7,2016,Unprovoked,USA,female,F,51,N,USA,1,0,1,0
8,2016,Unprovoked,NEW CALEDONIA,David Jewell,M,50,Y,Other,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5790,1839,Unprovoked,FIJI,"Joeli Bulu, missionary",M,29,N,Other,0,1,1,0
5792,1837,Unprovoked,AUSTRALIA,Alfred Australia Howe,M,12,Y,AUSTRALIA,0,1,0,1
5802,1830,Unprovoked,USA,Joseph Blaney,M,52,Y,USA,0,1,0,1
5807,1828,Unprovoked,SIERRA LEONE,"Thomas Corrigle, an apprentice from the ship",M,17,N,Other,0,1,1,0
5823,1817,Unprovoked,SRI LANKA,William May,M,22,Y,Other,0,1,0,1

In [66]:
df4['M'].corr(df4['Y'])
# There is not correlation

0.02705233247655062

In [67]:
df.isna().sum()

Year               0
Type               0
Country            7
Name               0
Sex                0
Age                0
Fatal (Y/N)        7
country_grouped    7
dtype: int64

# Finally we save the clean file

In [ ]:
sharks_clean = df.to_csv('sharks_clean.csv',sep= ',',index=False)